* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    
}
html {
    height: 800px;
    background-color: black;
    
}
header {
    height: 100x;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
span {
    text-decoration: none;
    
}
.homepage-icon-container {
    display: inline-block;
    width: 60px;
}
.homepage-icon{
    width: 100%;
}

#nav-menu{
    list-style: none;
}


#input{
    width: 700px;
    background: rgba(255, 255, 255, );
    padding: 10px 20px;
    font-size: 24px;
    align-items: center;
    border-radius: 60vh;

}

section {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}